.page-container{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content-wrap{
  flex: 1;


}



body {

  background-image: url("../img/12661-cielo.jpg");
  background-size:cover
/*   background-color: rgba(76, 181, 252, 0.966); */
}