.main-footer {
    opacity:0.8;
    background-color: #1e81f1;
    padding-top: 3em;
    position: relative;
    bottom: 0;
    width: 100%;
}


.img-contact{
    padding-right: 8px;
    vertical-align: middle;
    
}

.row {
color: black;
}

.footer-about-me {
    color: black;
}
.a-contact{
    color: black;
}


