.contenedor{
  opacity:0.8;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 85px;
  padding: 5px 10%;
  background-color: #1e81f1;

}

.home {
  color: aliceblue;
  cursor: pointer;
  height: 50px;
  width: auto;
  transition: all 0.5s;
  cursor: pointer;
}

.home:hover {
  transform: scale(1.2);
}

.nav-span {
  cursor: default;
  user-select: none;
  font-size: 30px;
  margin-left: 170px;

}
.header{
   padding: 0;
}